<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title>Balance</title>

</head>
<body>

<div class="operations">
    <h4 style="color: #528ECC; text-align: center ">Account info:</h4>
    <h5>Today’s date: <span th:text="${dateTime}"></span> </h5>
    <h5>Amount: <span th:text="${balance}"></span> </h5>
    <button onclick="location.href = '/operations'; " class="buttonsOperations">Back</button>

    <button onclick="location.href = '/'; " class="buttonsOperations">Exit</button>

</div>
</body>

</html>